#root {

    width: calc(100vw - 50px);
    overflow-x: hidden !important;
    margin: 0 auto;
    color: #2e2e2e;
    font-family: "Arial Black", Gadget, sans-serif;

}

.search-bar-div {
    width: calc(100vw - 100px);
    padding: 15px;
    margin: 1000 auto;
}

.search-bar-input {
    width: 75%;
    float: left;
    padding: 15px;
    margin: 15px;
    text-align: left;
}

.video-detail {
    width: calc(100vw - 100px);
    float: left;
    margin: 100 auto;
    padding: 10px;

}

.video-main {
    width: 700px;
    float: left;
    margin: 10px;
    padding: 10px;

}

.embed-responsive-item {
    width: 700px;
    height: 500px;
}

.details {
    max-width: 700px;
    float: left;
    margin: 10px;
    padding: 10px;

}

.video-list-ul {
    padding: 10px;
    margin: 10px;
    width: calc(100vw - 110px);
    float: left;
    list-style-type: none;
}

.list-group-item {
    cursor: pointer;
    margin-top: 0px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 1px;
}

.list-group-item:hover {
    background-color: #eee;
}
